.table-weight {
    font-size: 1.5em;
    padding-bottom: 2rem;
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
    border: .2rem solid crimson;
    text-align: center;
    
    th {
        background-color: coral;
        padding: .4rem 0;
        font-size: 2.5rem;
    }

    tbody {
        overflow: scroll;
    }

    td {
        background-color: burlywood;
        width: 50%;
        padding: .5rem 0;
        border: crimson dashed .2rem;
    }
}

.table-weight-container {
    transition: 2s all;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    //margin: 3rem 0;
    margin: 0 0;
    //width: 80%;
    width: 80%;
    //height: 100%;
    height: 0px;
    max-height: 50vh;

    overflow-y: scroll;
    overflow-x: hidden;
    // border-top: black dashed .1rem;
    // border-bottom: black dashed .1rem;
    border-top: black dashed 0;
    border-bottom: black dashed 0;
}