.table-weight {
  font-size: 1.5em;
  padding-bottom: 2rem;
  width: 50vw;
  height: 100%;
  box-sizing: border-box;
  border: .2rem solid crimson;
  text-align: center;
  box-shadow: rgba(47, 79, 79, 0.5) 0.2rem 0.2rem 0.1rem;
  margin: .4rem 0;
}
.table-weight th {
  background-color: coral;
  padding: .4rem 0;
  font-size: 2.5rem;
}
.table-weight tbody {
  overflow: scroll;
}
.table-weight td {
  background-color: burlywood;
  width: 50%;
  padding: .5rem 0px;
  border: crimson dashed .2rem;
}

.table-weight-container {
  transition: 2s all;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 0;
  width: 60%;
  height: 0px;
  max-height: calc(40vh - 1rem);
  overflow-y: scroll;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
}
.table-weight-container::-webkit-scrollbar {
  width: 20px;
}
.table-weight-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.table-weight-container::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.table-weight-container-visible {
  margin: 2rem 0;
  height: 100%;
  border-top: black dashed .1rem;
  border-bottom: black dashed .1rem;
}
