.table-weight {
  font-size: 1.5em;
  padding-bottom: 2rem;
  width: 50vw;
  height: 100%;
  box-sizing: border-box;
  border: .2rem solid crimson;
  text-align: center;
}
.table-weight th {
  background-color: coral;
  padding: .4rem 0;
  font-size: 2.5rem;
}
.table-weight tbody {
  overflow: scroll;
}
.table-weight td {
  background-color: burlywood;
  width: 50%;
  padding: .5rem 0;
  border: crimson dashed .2rem;
}

.table-weight-container {
  transition: 2s all;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 0;
  width: 80%;
  height: 0px;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-weight-container-visible {
  margin: 3rem 0;
  height: 100%;
  border-top: black dashed .1rem;
  border-bottom: black dashed .1rem;
}
